<footer class="container-fluid bg-light border-top mt-4 py-3">
    <div class="d-flex justify-content-between align-items-center">
        {% set year = "now"|date("Y") %}        
        <div class="col-auto">
            <small class="text-muted">© {{ year }} https://sports.ff-aero.fr</small>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="d-flex justify-content-end">
                <div class="dropup me-2">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Documents
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ asset('files/rules/Reglement_rallye_' ~ year ~ '.pdf') }}" download>Réglement championnat de Rallye</a></li>
                        <li><a class="dropdown-item" href="{{ asset('files/rules/Reglement_Pilotage_precision_' ~ year ~ '.pdf') }}" download>Réglement championnat de Pilotage de précision</a></li>
                        <li><a class="dropdown-item" href="{{ asset('files/rules/Reglement_ANR_' ~ year ~ '.pdf') }}" download>Réglement championnat ANR</a></li>
                        <li><a class="dropdown-item" href="{{ asset('files/Pilotes_precision_elite.pdf') }}" download>Liste des pilotes Elite - Précision</a></li>
                        <li><a class="dropdown-item" href="{{ asset('files/Pilotes_rallye_elite.pdf') }}" download>Liste des pilotes Elite -Rallye</a></li>
                        <li><a class="dropdown-item" href="{{ asset('files/Conseils_precision.pdf') }}" download>Conseils débutants Pilotage de précision</a></li>
                        <li><a class="dropdown-item" href="{{ asset('files/Conseils_rallye.pdf') }}" download>Conseils débutants Rallye</a></li>
                    </ul>
                </div>
                <div class="dropup">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tutoriels vidéos
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="https://youtu.be/-9N9HS79SII" target="_blank">Gestion épreuve pilotage précision - Part 1</a></li>
                        <li><a class="dropdown-item" href="https://youtu.be/T9-OKrGaHZU" target="_blank">Gestion épreuve pilotage précision - Part 2</a></li>
                        <li><a class="dropdown-item" href="https://youtu.be/KxmyakYt8TE" target="_blank">Tracé épreuve pilotage précision</a></li> 
                        <li><a class="dropdown-item" href="https://youtu.be/MRkn2MlXhMg" target="_blank">Gestion épreuve ANR</a></li> 
                        <li><a class="dropdown-item" href="https://youtu.be/NvzPR04hOoY" target="_blank">Tracé épreuve ANR</a></li>
                        <li><a class="dropdown-item" href="https://youtu.be/gqJ9u641U9Y" target="_blank">Tracé épreuve rallye</a></li>
                        <li><a class="dropdown-item" href="https://youtu.be/tbP7341uK8o" target="_blank">Logiciel FFA SkyTraq</a></li>
                        <li><a class="dropdown-item" href="https://youtu.be/gkJ5DoVF7NY" target="_blank">Carte ANR avec OziExplorer</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</footer>