{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    {{ parent() }}
   <section class 'container mt-4'>
        <h4 class= "mx-auto text-center fw-bold" style="width: 400px">Informations pour l'inscripition</h2>  
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
              {{ message }}
            </div>   
        {% endfor %}  
        <div>
            <p class= 'text-center'>Parametre d'inscription pour la compétition <strong>{{ compet.name }}</strong></br> 
            se déroulant à <strong>{{ compet.location }}</strong>
            du <strong>{{ compet.startDate|format_datetime(locale='fr',pattern='dd MMMM y') }} </strong>
            au <strong>{{ compet.endDate|format_datetime(locale='fr',pattern='dd MMMM y') }}</strong></p>
            <p class= 'text-center'>Epreuve de<strong> {{ compet.typecompetition.typecomp }}</strong></p>
            </br>
        </div>
        {{ form_start(form) }}
            <div class='row'>

                <div class='mt-4'> 
                    <p>Selectionner les types de chambre qui seront disponibles et leur prix</p>                    
                    <table class="table table-bordered align-middle">
                            <thead class="table-dark">
                            <tr>
                                <th class='text-center col-2'>Service</th>
                                <th class='text-center col-1'>Disponible</th>
                                <th class='text-center col-2'>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for accomForm in form.accommodations %}
                                <tr class="align-middle">
                                    {# Read-only room name #}
                                    <td>{{ accomForm.accommodation.vars.data.room }}</td>

                                    {# Checkbox for availability #}
                                    <td>{{ form_widget(accomForm.available) }}</td>

                                    {# Price input #}
                                    <td>{{ form_widget(accomForm.price) }}</td>
                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>                    
            </div>    
            <div class="row justify-content-center my-5">
                <div class="col-10 text-center">   
                    <button class='btn btn-primary me-4',type='submit'> Valider</button>              
                    <a href ="{{ path('crews_registration_list') }}" class="btn btn-info btn-sm ms-4">
                      Annuler
                    </a>  
                    </br>  
                </div>   
            </div>              
        {{ form_end(form, {'render_rest': false}) }}
    </section>

{% endblock main %}