{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    {{ parent() }}
   <section class 'container mt-4'>
        <h4 class= "mx-auto text-center fw-bold" style="width: 400px">Paramétrage de l'inscripition</h2>  
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
              {{ message }}
            </div>   
        {% endfor %}  
        <div>
            <p class= 'text-center'>Montant de l'inscription selon le type de prestation pour la compétition <strong>{{ compet.name }}</strong></br> 
            se déroulant à <strong>{{ compet.location }}</strong>
            du <strong>{{ compet.startDate|format_datetime(locale='fr',pattern='dd MMMM y') }} </strong>
            au <strong>{{ compet.endDate|format_datetime(locale='fr',pattern='dd MMMM y') }}</strong></p>
            <p class= 'text-center'>Epreuve de<strong> {{ compet.typecompetition.typecomp }}</strong></p>
            </br>
        </div>
        {{ form_start(form) }}
            <div class='row'>
                <div class='mt-4'> 
                    <p>Renseigner le prix de l'inscription en fonction du type de service</p>                    
                    <p>Laisser le champs "Prix" à 0.00 si non disponible</p>                    
                        <table class="table table-bordered align-middle" style="table-layout: fixed; width: 50%;">
                            <thead class="table-dark">
                            <tr>
                                <th class='text-center' style='width: 66%;'>Service</th>
                                <th class='text-center' style='width: 34%;'>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for accomForm in form.accommodations %}
                                <tr class="align-middle">
                                    <td>{{ accomForm.accommodation.vars.data.room }}</td>

                                    {# Price input #}
                                    <td>
                                        {{ form_widget(accomForm.price, {
                                            'attr': {
                                                'style': 'max-width: 100px;',
                                                'value': accomForm.price.vars.value|number_format(2, '.', ',')
                                            }
                                        }) }}
                                    </td>

                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>                    
            </div>    
            <div>
                Test {{ form_widget(form._token) }}
            </div>             
            <div class="row justify-content-center my-5">
                <div class="col-10 text-center">   
                    <button class='btn btn-primary me-4' type='submit'> Valider</button>              
                    <a href ="{{ path('crews_registration_list') }}" class="btn btn-info btn-sm ms-4">
                      Annuler
                    </a>  
                    </br>  
                </div>   
            </div>       
      
        {{ form_end(form, {'render_rest': false}) }}
    </section>

{% endblock main %}