{% extends 'base-pdf.html.twig' %}

{% block title %}Liste des inscrits{% endblock %}

{% block body %}

    <div>
        <h3>Vérification des documents {{ registants[0].competition.name }}</h3>
    </div>
    <table style="border-collapse:collapse;">
        <thead>
            <tr>
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">#</th>
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Categorie</th>
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Immat.</th>
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Vp</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Nom-Prénom</th>                
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Aéroclub</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">CRA</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Licence FFA</th>
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Mineur</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Médical</th>                                              
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">PPL</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Carnet vol</th>                                              
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Carnet route</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Cert Immat</th>                                              
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">CDN</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Pesée</th>                                              
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Nuissance</th>                 
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Station</th>                                              
                <th style="border:1px solid #000; text-align: center;padding: 4px;" scope="col">Assur</th>                                                               
            </tr>                
        </thead>
        <tbody>                        
            {% set n = 1 %}     
            {% for registant in registants %}                  
                {% if registant.category is defined %} 
                    <tr>   
                        <td style="border:1px solid #000; text-align: center;padding: 4px;" rowspan="2">{{ n }} </td>                            
                        <td style="border:1px solid #000; text-align: center;padding: 4px;" rowspan="2">{{ registant.category.value }} </td>                            
                        <td style="border:1px solid #000; text-align: center;padding: 4px;" rowspan="2">{{ registant.callsign }} </td>                                             
                        <td style="border:1px solid #000; text-align: center;padding: 4px;" rowspan="2">{{ registant.aircraftSpeed.value }} </td>                       
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"> {{ registant.pilot.lastname }}  {{ registant.pilot.firstname }}</td>
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"> {{ registant.pilot.flyingclub }}</td>                        
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"> {{ registant.pilot.committee.value |slice(0, 2) }}</td>                             
                        <td style="border:1px solid #000; text-align: center;padding: 4px;">{{ registant.pilot.licenseFfa }}</td>                         
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td> 
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td> 
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td> 
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td>                          
                        Limite de 12 colonnes
                    </tr>
                    <tr>             
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"> {{ registant.navigator.lastname }}  {{ registant.navigator.firstname }}</td>
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"> {{ registant.navigator.flyingclub }}</td> 
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"> {{ registant.navigator.committee.value |slice(0, 2) }}</td>                            
                        <td style="border:1px solid #000; text-align: center;padding: 4px;">{{ registant.pilot.licenseFfa }}</td>                             
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td>   
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td>                          
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td> 
                        <td style="border:1px solid #000; text-align: center;padding: 4px;"></td> 
                    </tr> 
                    {% set n = n + 1 %}
                {% endif %}
            {% endfor %}                     
        </tbody>
    </table>        
  {% endblock %}