{% extends 'base.html.twig' %}

{% block title %}Concurrent{% endblock %}

{% block body %}
    <style>
        .smaller-text {
            font-size: 0.8em; /* Adjust the size as needed */
        }
        .required-field {
            border: 1px solid red; /* Example style to indicate required fields */
        }
    </style>
    <section class='container mt-4' >
        <h3 class="h3 text-center font-weight-normal mb-3">Mon profil</h3> 

        <p class='text-center text-danger'>{{ form_errors(profilForm) }}</p>        

        {{ form_start(profilForm) }}
        <div class="row justify-items-center">
            <div class="col-md-5 border border-dark border-1 rounded-3 order-1 order-md-1 mb-3 p-4 me-2">
                <h4 class="text-center font-weight-normal mb-3">Enregistrement</h4>
                {{ form_label(profilForm.lastname) }}
                <div class='text-danger'>                
                    {{ form_errors(profilForm.lastname) }}
                </div>
                {{ form_widget(profilForm.lastname) }}
 
                {{ form_label(profilForm.firstname) }}
                 <div class='text-danger'>                    
                    {{ form_errors(profilForm.firstname) }}
                </div>
                {{ form_widget(profilForm.firstname) }}

                {{ form_label(profilForm.plainPassword) }}
                 <div class='text-danger'>                
                    {{ form_errors(profilForm.plainPassword) }}
                </div>
                {{ form_widget(profilForm.plainPassword) }}
                
                <div class="col border border-dark text-center rounded-3 p-2 bg-secondary text-white form-check mt-4">
                    {{ form_row(profilForm.isCompetitor) }}
                </div>
            </div>     
          
            <div class="col-md-6 border border-dark border-1 rounded-3 order-2 order-md-2  p-4 ms-2" 
                id="competitorFieldsContainer" 
                style="display: none;">
                <h4 class="text-center font-weight-normal mb-3">Informations additionnelles pour les compétiteurs</h4>              
                {{ form_label(profilForm.dateBirth) }}
                <div class='text-danger'> 
                    {{ form_errors(profilForm.dateBirth) }}   
                </div>             
                {{ form_widget(profilForm.dateBirth) }}


                {{ form_label(profilForm.licenseFfa) }}
                <div class='text-danger'>            
                    {{ form_errors(profilForm.licenseFfa) }}
                </div>
                {{ form_widget(profilForm.licenseFfa) }}

                {{ form_label(profilForm.flyingclub) }}
                <div class='text-danger'> 
                    {{ form_errors(profilForm.flyingclub) }}
                </div>                
                {{ form_widget(profilForm.flyingclub) }}

                {{ form_label(profilForm.phone) }}
                <div class='text-danger'> 
                    {{ form_errors(profilForm.phone) }}
                </div>                
                {{ form_widget(profilForm.phone) }}

                {{ form_label(profilForm.gender) }}                
                <div class='text-danger'>   
                    {{ form_errors(profilForm.gender) }}
                </div> 
                {{ form_widget(profilForm.gender) }}

                {{ form_label(profilForm.committee) }}              
                <div class='text-danger'>                
                    {{ form_errors(profilForm.committee) }}
                </div>                
                {{ form_widget(profilForm.committee) }}

                {{ form_label(profilForm.poloSize) }}            
                <div class='text-danger'>                 
                    {{ form_errors(profilForm.poloSize) }}                    
                </div>                 
                {{ form_widget(profilForm.poloSize) }}

            </div> 
        </div>
       <div class="row justify-items-center">                 
            <div class="col text-center my-4">                        
                <button class="btn btn btn-primary ms-4" type="submit">
                    Valider
                </button>
                <a href="{{ path('home') }}" class="btn btn-info btn-sm ms-1"> Annuler</a>
            </div>                
            {{ form_end(profilForm) }}
        </div>
    </section>  

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var lastnameField = document.getElementById('edit_profil_lastname');
            var firstnameField = document.getElementById('edit_profil_firstname');
            var plainPasswordField = document.getElementById('edit_profil_plainPassword');
            var checkbox = document.getElementById('edit_profil_isCompetitor');
            var competitorFieldsContainer = document.getElementById('competitorFieldsContainer');
            var licenseFfaField = document.getElementById('edit_profil_licenseFfa');
            var dateBirthField = document.getElementById('edit_profil_dateBirth');
            var flyingclubField = document.getElementById('edit_profil_flyingclub');
            var phoneField = document.getElementById('edit_profil_phone');
            var genderField = document.getElementById('edit_profil_gender');
            var committeeField = document.getElementById('edit_profil_committee');
            var poloSizeField = document.getElementById('edit_profil_poloSize');

            console.log('Checkbox:', checkbox);
            console.log('Additional Field:', competitorFieldsContainer);


            if (checkbox && competitorFieldsContainer) {
                checkbox.addEventListener('change', function() {
                    var isChecked = checkbox.checked;
                    updateFieldAppearance(lastnameField, true);
                    updateFieldAppearance(firstnameField, true);
                    updateFieldAppearance(plainPasswordField, true);                   
                    if (this.checked) {
                        competitorFieldsContainer.style.display = 'block';
                        licenseFfaField.required = true;
                        dateBirthField.required = true;
                        flyingclubField.required = true;
                        phoneField.required = true;
                        committeeField.required = true;
                        poloSizeField.required = true;
                    } else {
                        competitorFieldsContainer.style.display = 'none';
                        licenseFfaField.required = false;
                        dateBirthField.required = false; 
                        flyingclubField.required = false;                        
                        phoneField.required = false; 
                        committeeField.required = false; 
                        poloSizeField.required = false;                     
                    }           
                    updateFieldAppearance(licenseFfaField, isChecked);
                    updateFieldAppearance(dateBirthField, isChecked);
                    updateFieldAppearance(flyingclubField, isChecked);
                    updateFieldAppearance(phoneField, isChecked);
                    updateFieldAppearance(committeeField, isChecked);
                    updateFieldAppearance(poloSizeField, isChecked);
                });
                function updateFieldAppearance(field, isRequired) {
                    if (isRequired) {
                        field.classList.add('required-field');
                    } else {
                        field.classList.remove('required-field');
                    }
                }

                // Trigger the change event on page load to set the initial state
                checkbox.dispatchEvent(new Event('change'));
            } else {
                console.error('Checkbox or additional field not found');
            }
        });
    </script>

{% endblock %}
