{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>M'inscrire</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_row(registrationForm.submit) }}
        <p class="mr-3"> Déjà inscrit(e) ? :<a href="{{ path('app_login') }}" class="btn btn-info btn-sm ms-1"> Me connecter</a></p>
    {{ form_end(registrationForm) }}
{% endblock %}
