{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
   <style>
        .smaller-text {
            font-size: 0.8em; 
        }
        .required-field {
            border: 1px solid orange; 
        }
    </style>

    <section class='container mt-4' >
        <h3 class="h3 text-center font-weight-normal mb-3">M'inscrire</h3> 
        {{ form_errors(registrationForm) }}
        
        {{ form_start(registrationForm) }}
        <div class="row justify-content-center">
            <div class="col-md-5 border border-dark border-1 rounded-3 order-1 order-md-1 mb-3 p-4 me-2">
                <h4 class="text-center font-weight-normal mb-3">Enregistrement</h4> 
                {{ form_label(registrationForm.email) }}                               
                <div class='text-danger'>  
                    {{ form_errors(registrationForm.email) }}   
                </div> 
                {{ form_widget(registrationForm.email) }}

                {{ form_label(registrationForm.lastname) }}               
                <div class='text-danger'>                
                    {{ form_errors(registrationForm.lastname) }}
                </div>
                {{ form_widget(registrationForm.lastname) }}
 
                {{ form_label(registrationForm.firstname) }}            
                <div class='text-danger'>                    
                    {{ form_errors(registrationForm.firstname) }}
                </div>
                {{ form_widget(registrationForm.firstname) }}

                {{ form_label(registrationForm.plainPassword) }}              
                <div class='text-danger'>                
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                {{ form_widget(registrationForm.plainPassword) }}
 
                <div class="col border border-dark text-center rounded-3 p-2 bg-secondary text-white form-check mt-4">
                    {{ form_row(registrationForm.isCompetitor) }}
                </div>
            </div>                   
            <div class="col-md-6 border border-dark border-1 rounded-3 order-2 order-md-2  p-4 ms-2" id='competitorFieldsContainer'>
                <h4 class="text-center font-weight-normal mb-3">Informations additionnelles pour les compétiteurs</h4>              

                {{ form_label(registrationForm.dateBirth) }}
                <div class='text-danger'> 
                    {{ form_errors(registrationForm.dateBirth) }}   
                </div>             
                {{ form_widget(registrationForm.dateBirth) }}
                      
                {{ form_label(registrationForm.licenseFfa) }}                
                <div class='text-danger'>            
                    {{ form_errors(registrationForm.licenseFfa) }}
                </div>
                {{ form_widget(registrationForm.licenseFfa) }}

                {{ form_label(registrationForm.flyingclub) }}
                <div class='text-danger'> 
                    {{ form_errors(registrationForm.flyingclub) }}
                </div>                
                {{ form_widget(registrationForm.flyingclub) }}
                      
                {{ form_label(registrationForm.phone) }}
                <div class='text-danger'> 
                    {{ form_errors(registrationForm.phone) }}
                </div>                
                {{ form_widget(registrationForm.phone) }}

                {{ form_label(registrationForm.gender) }}                
                <div class='text-danger'>   
                    {{ form_errors(registrationForm.gender) }}
                </div> 
                {{ form_widget(registrationForm.gender) }}

                {{ form_label(registrationForm.committee) }}               
                <div class='text-danger'>                
                    {{ form_errors(registrationForm.committee) }}
                </div>                
                {{ form_widget(registrationForm.committee) }}

                {{ form_label(registrationForm.poloSize) }}            
                <div class='text-danger'>                 
                    {{ form_errors(registrationForm.poloSize) }}                    
                </div>                 
                {{ form_widget(registrationForm.poloSize) }}

            </div> 
        </div>
       <div class="row justify-items-center">                 
            <div class="col text-center mb-4">                        
                <p> {{ form_row(registrationForm.agreeTerms) }} </p>
                <button class="btn btn btn-primary ms-4" type="submit">
                    Valider
                </button>
                Déjà inscrit(e) ? :<a href="{{ path('login') }}" class="btn btn-info btn-sm ms-1"> Me connecter</a>
            </div>                
            {{ form_end(registrationForm) }}
        </div>
    </section>    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var emailField = document.getElementById('registration_form_email');
            var lastnameField = document.getElementById('registration_form_lastname');
            var firstnameField = document.getElementById('registration_form_firstname');
            var plainPasswordField = document.getElementById('registration_form_plainPassword');
            var checkbox = document.getElementById('registration_form_isCompetitor');
            var competitorFieldsContainer = document.getElementById('competitorFieldsContainer');
            var licenseFfaField = document.getElementById('registration_form_licenseFfa');
            var dateBirthField = document.getElementById('registration_form_dateBirth');
            var flyingclubField = document.getElementById('registration_form_flyingclub');
            var phoneField = document.getElementById('registration_form_phone');
            var genderField = document.getElementById('registration_form_gender');
            var committeeField = document.getElementById('registration_form_committee');
            var poloSizeField = document.getElementById('registration_form_poloSize');

            console.log('Checkbox:', checkbox);
            console.log('Additional Field:', competitorFieldsContainer);


            if (checkbox && competitorFieldsContainer) {
                checkbox.addEventListener('change', function() {
                    var isChecked = checkbox.checked;
                    updateFieldAppearance(emailField, true);                    
                    updateFieldAppearance(lastnameField, true);
                    updateFieldAppearance(firstnameField, true);
                    updateFieldAppearance(plainPasswordField, true);                   
                    if (this.checked) {
                        competitorFieldsContainer.style.display = 'block';
                        licenseFfaField.required = true;
                        dateBirthField.required = true;
                        flyingclubField.required = true;
                        phoneField.required = true;
                        committeeField.required = true;
                        poloSizeField.required = true;
                    } else {
                        competitorFieldsContainer.style.display = 'none';
                        licenseFfaField.required = false;
                        dateBirthField.required = false; 
                        flyingclubField.required = false;                        
                        phoneField.required = false; 
                        committeeField.required = false; 
                        poloSizeField.required = false;                     
                    }           
                    updateFieldAppearance(licenseFfaField, isChecked);
                    updateFieldAppearance(dateBirthField, isChecked);
                    updateFieldAppearance(flyingclubField, isChecked);
                    updateFieldAppearance(phoneField, isChecked);
                    updateFieldAppearance(committeeField, isChecked);
                    updateFieldAppearance(poloSizeField, isChecked);
                });
                function updateFieldAppearance(field, isRequired) {
                    if (isRequired) {
                        field.classList.add('required-field');
                    } else {
                        field.classList.remove('required-field');
                    }
                }

                // Trigger the change event on page load to set the initial state
                checkbox.dispatchEvent(new Event('change'));
            } else {
                console.error('Checkbox or additional field not found');
            }
        });
    </script>

{% endblock %}
