{% extends 'base-pdf.html.twig' %}

{% block title %}Liste des inscrits{% endblock %}

{% block body %}
    <style>
        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }
        .centered-cell {
            border: 1px solid #000;
            text-align: center;
            padding: 4px;
        }
    </style>
    <div>
        <h3>Liste des inscrits - {{ crews[0].competition.name }}</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th class="centered-cell">#</th>
                <th class="centered-cell">Cat</th>
                <th class="centered-cell">Equipage</th>
                <th class="centered-cell">Téléphone</th>                 
                <th class="centered-cell">Email</th>            
                <th class="centered-cell">Chambre</th>            
                <th class="centered-cell">Prix</th>                    
                <th class="centered-cell">Validation</th>      
            </tr>                
        </thead>
        <tbody> 
            {% set n = 1 %}                           
            {% for crew in crews %}
                {% if crew.category is defined %} 
                    <tr>           
                        <td class="centered-cell">
                            {{ n }} 
                        </td>  
                        <td class="centered-cell">
                            <p>{{ crew.categoryLabel }}</p>
                        </td>  
                        <td class="centered-cell">
                            <p>{{ crew.pilot.lastname }} {{ crew.pilot.firstname }}</p>
                            <p>{{ crew.navigator.lastname }} {{ crew.navigator.firstname }}</p>
                        </td>
                        <td class="centered-cell">
                            <p>  {{ crew.pilot.phone }}</p>
                            <p>  {{ crew.navigator.phone }}</p>                            
                        </td>                         
                        <td class="centered-cell">
                            <p>  {{ crew.pilot.email }}</p>                           
                            <p>  {{ crew.navigator.email }}</p>
                        </td>      
                        {% if crew.competitionAccommodation is not empty %}
                            <td class="centered-cell">
                                {% for ca in crew.competitionAccommodation %}
                                    <p>
                                        {{ ca.accommodation.room }} 
                                    </p>
                                {% endfor %}
                            </td>                  
                            <td class="centered-cell">
                                {% for ca in crew.competitionAccommodation %}
                                    <p>
                                        {{ (ca.price / 100) |number_format(2, '.', ',') }} €
                                    </p>
                                {% endfor %}
                            </td>                            
                        {% else %} 
                            <td class="centered-cell">
                                <em>No accommodations</em>
                            </td>
                            <td class="centered-cell"></td  
                        {% endif %}               
                        <td class="centered-cell">
                            {% if crew.ValidationPayment == 0 %}
                                En attente
                            {% else %}
                                Réglé
                            {% endif %}
                        </td>
                        {% set n = n + 1 %}
                    </tr>
                {% endif %}
            {% endfor %}                
        </tbody>
    </table>      
{% endblock %}