 {% extends 'base.html.twig' %}

{% block title %}Inscription aux compétitions{% endblock %}

{% block body %}
    <div class 'container mt-4'>
      <h4 class= "mx-auto text-center fw-bold" style="width: 400px">Inscription</h2>  
      {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>   
      {% endfor %}        
      <div>
        <p class= 'text-center'>Inscription pour la compétition se déroulant à </br><strong>{{ compet.location }}</strong>
         du <strong>{{ compet.startDate|format_datetime(locale='fr',pattern='dd MMMM y') }} </strong>
         au <strong>{{ compet.endDate|format_datetime(locale='fr',pattern='dd MMMM y') }}</strong></p>
         <p class= 'text-center'>Epreuve de<strong> {{ compet.typecompetition.typecomp }}</strong></p>
      </div>
          {{ form_start(form) }}
              {{ form_row(form.competition) }}
              {{ form_row(form.pilot) }}
              {{ form_row(form.navigator) }}
              {{ form_row(form.category) }}
              {{ form_row(form.callsign) }}  
              {{ form_row(form.aircraftFlyingclub) }}              
              {{ form_row(form.aircraftType) }}
              {{ form_row(form.aircraftSpeed) }}
              {{ form_row(form.aircraftSharing) }}
              {{ form_row(form.pilotShared) }}              
              {{ form_row(form._token) }}            
              {{ form_row(form.submit) }} 
          {{  form_end(form) }}           
      </div>  
    </div>
{% endblock %}