{% extends 'base.html.twig' %}

{% block title %}Liste des inscrits{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class='col-10'>
                <h3 class='mx-auto text-center fw-bold'>Liste des inscrits</h3>
            </div>
            <div class='col-2 mb-2'>
                <form name="add-form" action="{{ path('admin_registration_crew_new',{'competId':registants[0].id}) }}" method="post">
                    <input type="hidden" name="_method" value="EDIT">
                    <button type="submit" class= 'btn btn-success btn-sm'>Ajouter une inscription</button>
                </form>

            </div>
        </div>
        {% for message in app.flashes('success') %}
          <div class="alert alert-success mt-4">
            {{message}}
          </div> 
        {% endfor %}
        <table class="table table-light table-striped w-auto">
            <thead class='table-light'>
            <tr>
                <th class="text-center" scope="col">Categorie</th>
                <th class="text-center" scope="col">Immat.</th>
                <th class="text-center" scope="col">Vp</th>                
                <th class="text-center" scope="col">Nom prénom</th> 
                <th class="text-center" scope="col">Aéroclub</th>                 
                <th class="text-center" scope="col">Licence FFA</th>
                <th class="text-center" scope="col">Email</th>                 
                <th class="text-center" scope="col">Téléphone</th>                
                <th class="text-center" scope="col">CRA</th>                 
                <th class="text-center" scope="col">Action</th>                 
            </tr>                
        </thead>
            <tbody>      
                {% for registant in registants %}                  
                    {% if registant.category is defined %} 
                        <tr>   
                            <td rowspan="2">{{ registant.category.value }} </td>                            
                            <td rowspan="2">{{ registant.callsign }} </td>                                             
                            <td rowspan="2">{{ registant.aircraftSpeed.value }} </td>                       
                            <td>{{ registant.pilot.lastname }}  {{ registant.pilot.firstname }}</td>
                            <td>{{ registant.pilot.flyingclub }}</td>                             
                            <td>{{ registant.navigator.licenseFfa }}</td>  
                            <td>{{ registant.pilot.email }}</td> 
                            <td>{{ registant.pilot.phone }}</td> 
                            <td>{{ registant.pilot.committee.value }}</td> 
                            <td>
                                <form name="edit-form" action="{{ path('admin_registration_crew_edit',{'competId':registants[0].id,'crewId': registant.id}) }}" method="post">
                                    <input type="hidden" name="_method" value="EDIT">
                                    <button type="submit" class= 'btn btn-outline-success btn-sm'>Modifier</button>
                                </form>     
                            </td> 
                        </tr>
                        <tr>             
                            <td>{{ registant.navigator.lastname }}  {{ registant.navigator.firstname }}</td>
                            <td>{{ registant.navigator.flyingclub }}</td> 
                            <td>{{ registant.navigator.licenseFfa }}</td>                             
                            <td>{{ registant.navigator.email }}</td> 
                            <td>{{ registant.navigator.phone }}</td>                                    
                            <td>{{ registant.pilot.committee.value }}</td> 
                            <td>  
                                <form name="delete-form" action="{{ path('admin.crews.delete',{'id': registant.id}) }}" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class= 'btn btn-outline-danger btn-sm'>Supprimer</button>
                                </form>     
                            </td> 
                        </tr>        
                    {% endif %}
                {% endfor %} 
            </tbody>
        </table>
    </div>       
    <div>          
  {% endblock %}