
{% extends '@EasyAdmin/layout.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block main %}    

   <section class 'container mt-4'>
        <h4 class= "mx-auto text-center fw-bold" style="width: 400px">Inscription</h2>  
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
              {{ message }}
            </div>   
        {% endfor %}  
        <div>
            <p class= 'text-center'>Inscription <strong>{{ compet.name }}</strong> se déroulant à </br><strong>{{ compet.location }}</strong>
            du <strong>{{ compet.startDate|format_datetime(locale='fr',pattern='dd MMMM y') }} </strong>
            au <strong>{{ compet.endDate|format_datetime(locale='fr',pattern='dd MMMM y') }}</strong></p>
            <p class= 'text-center'>Epreuve de<strong> {{ compet.typecompetition.typecomp }}</strong></p>
        </div>

        {{ form_start(form) }}
            <div class="mx-auto" style="width: 800px;">
                {% if form_errors(form) is not empty %}
                    <div class="alert alert-danger">
                      {{ form_errors(form) }}
                    </div>
                {% endif %}
                <div class="row justify-content-center">
                    <div class='col-3'>
                      {{ form_widget(form.competition) }}
                    </div>        
                </div>                       
                <div class='col-12'>
                    <hr class="bg-danger border-4 border-top border-danger" />
                </div>
            </div>  

            <div class="row border rounded-4 border-light mx-5 p-3"  >
                <div class="col-4 mx-auto">
                    <div class="row"> 
                        <div>
                            {{ form_label(form.pilot) }}
                            {% if form.vars.required %}
                                <span class="required-asterisk text-danger">*</span>
                            {% endif %}
                        </div>
                        {{ form_widget(form.pilot) }}
                        {{ form_errors(form.pilot) }}
                    </div>
                    <div class="row">                
                        {% if form.navigator is defined %}
                            <div>
                                {{ form_label(form.navigator) }}
                                {% if form.vars.required %}
                                    <span class="required-asterisk text-danger">*</span>
                                {% endif %}
                            </div>
                            {{ form_widget(form.navigator) }}
                            {{ form_errors(form.navigator) }}
                        {% endif %}              
                    </div>
                </div>
                <div class="col-4  mx-auto">   
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                    {{ form_errors(form.category) }}
                </div>
            </div>
            
            <div class="row m-4">                          
                <div class="col-4 form-group border rounded-4 border-light  mx-auto p-2">     
                    <div class="justify-content-center fw-bold">
                        <p class='text-center'>
                            Avion
                        </p>
                    </div>  
                    <div class="row">        
                        {{ form_row(form.callsign) }}  
                    </div>                     
                    <div class="row my-2"> 
                        <div>
                            {{ form_label(form.aircraftSpeed) }}
                        </div>
                        <div class="" style="width: 300px;">
                            {{ form_widget(form.aircraftSpeed) }}
                        </div>
                        {{ form_errors(form.aircraftSpeed) }}
                    </div>
                    <div class="row"> 
                        {{ form_row(form.aircraftFlyingclub) }}   
                    </div>                                         
                    <div class="row mt-2">            
                        {{ form_row(form.aircraftType) }}
                    </div>
                    <div class="row mt-2">            
                        {{ form_row(form.aircraftOaci) }}
                    </div>
                    <div class="col border border-dark text-center rounded-3  bg-secondary text-white mt-4">
                        {{ form_errors(form.aircraftSharing) }}
                        <div>
                            {{ form_label(form.aircraftSharing) }}
                            <span class="me-2">
                                {{ form_widget(form.aircraftSharing) }}
                            </span>
                        </div>
                    </div>
                    <div class="row my-2" id="pilot_shared_container" style="display: none;"> 
                        {{ form_row(form.pilotShared) }}              
                    </div>
                </div>                                         
                <div class="col-7 form-group border rounded-4 border-light mx-auto">     
                    <div class='p-3'>
                        {{ form_errors(form.competitionAccommodation) }}
                        <div>
                            <table class="table table-bordered"style="border-color: white;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Hébergement</th>
                                        <th class="text-center">Choix</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for checkbox in form.competitionAccommodation %}     
                                        {% set accommodations = compet.competitionAccommodation %}                                        
                                        {% set id = checkbox.vars.value %}
                                        {% set competitionAccommodation = null %}
                                        {% for ca in accommodations %}
                                            {% if ca.id == id %}
                                                {% set competitionAccommodation = ca %}                                       
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <td class="text-end align-middle">
                                                {{ form_label(checkbox, null, {'label_attr': {'class': 'mb-0 fw-bold'}}) }}
                                                {% if competitionAccommodation %}
                                                    <small class="text-muted ms-2">( {{ (competitionAccommodation.price / 100) |number_format(2, '.', ',') }} € )</small>
                                                {% endif %}
                                            </td>

                                            <td class="bg-dark-subtle text-center align-middle">
                                                <div class="d-flex justify-content-center align-items-center w-100 h-100">
                                                    {{ form_widget(checkbox, {'attr': {'class': 'form-check-input m-0'}}) }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>      

                            {{ compet.paymentInfo|raw }}

                        </div>   
                    </div>                    
                </div>                                       
            </div>            
            {{ form_row(form._token) }}  

            <div class="row justify-content-center mb-5">
                <div class="col-10 text-center">   
                    <button class='btn btn-primary me-4',type='submit'> Valider</button>              
                    <a href ="{{ path('crews_registration_list') }}" class="btn btn-info btn-sm ms-4">
                      Annuler
                    </a>  
                    </br>  
                </div>   
            </div>
        {{  form_end(form, {'render_rest': false}) }}     
    </section>
  
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var checkbox = document.getElementById('registration_crew_aircraftSharing');
            var pilotSharedContainer = document.getElementById('pilot_shared_container');

            console.log('Checkbox:', checkbox);
            console.log('pilot_shared', pilotSharedContainer);

            if (checkbox && pilotSharedContainer) {
                checkbox.addEventListener('change', function() {
                    if (this.checked) {
                        pilotSharedContainer.style.display = 'block';
                    } else {
                        pilotSharedContainer.style.display = 'none';                   
                    }
                });

                // Trigger the change event on page load to set the initial state
                checkbox.dispatchEvent(new Event('change'));
            } else {
                console.error('Checkbox or pilotSharing not found');
            }
        });
  </script>
{% endblock main %}