{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Hébergement{% endblock %}

{% block main %}
    {{ parent() }}
    <section class="container"> 
        <div class="row justify-content-center">
            <div class="row">
                <div class='col-10'>
                    <h3 class='mx-auto text-center fw-bold'>Hébergement pour le {{ crews[0].competition.name }}</h3>
                </div>
                <div class="text-end col-2">
                    <span>
                        <a href="{{ path('admin_print_crews', {'competId': crews[0].competition.id }) }}" class="btn-print">
                            <i class="fas fa-print"> </i> Imprimer
                        </a> 
                    </span>
                </div> 
            </div>
        </div>
        {% for message in app.flashes('success') %}
          <div class="alert alert-success mt-4">
            {{message}}
          </div> 
        {% endfor %}   
        <form method="post">
            <table class="table table-bordered align-middle mt-4">
                <thead class="table-light">
                    <tr>
                        <th>Equipage</th>
                        <th>Hébergements</th>
                        <th>Prix</th>
                        <th>Validation paiement</th>
                    </tr>
                </thead> 
                <tbody>
                    {% for crew in crews %}
                        <tr class='border-bottom'>
                            <td>
                                <p>{{ crew.pilot.getLastname() }} {{ crew.pilot.getFirstname() }}</p>
                                <p>{{ crew.navigator.getLastname() }} {{ crew.navigator.getFirstname() }}</p>
                            <td>
                                {% for ca in crew.competitionAccommodation %}
                                    {{ ca.accommodation.room }}<br>
                                {% else %}
                                    Aucun hébergement
                                {% endfor %}
                            </td>
                            <td>    
                                {% for ca in crew.competitionAccommodation %}
                                    {{ (ca.price / 100) |number_format(2, '.', ',') }} €<br>
                                {% else %}
                                    Aucun prix
                                {% endfor %}
                            </td>
                            <td>
                                <div class="form-check">
                                    <input type="checkbox"
                                        class="form-check-input"
                                        name="validationPayment[{{ crew.id }}]"
                                        id="crew_switch_{{ crew.id }}"       
                                        {% if crew.validationPayment %}
                                            checked
                                        {% endif %}>
                                    <label class="form-check-label" for="crew_switch_{{ crew.id }}"></label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Valider les paiements</button>
            </div>
        </form>
    </section>                 
{% endblock main %}