
{% extends '@EasyAdmin/layout.html.twig' %}
{% block title %}Liste des inscrits{% endblock %}

{% block main %}
    {{ parent() }}
    <section class="container mt-4">
        <div class="row justify-content-center">
            <div class='col-10'>
                <h3 class='mx-auto text-center fw-bold'>Liste des inscrits</h3>
            </div>
        </div>
        {% for message in app.flashes('success') %}
          <div class="alert alert-success mt-4">
            {{message}}
          </div> 
        {% endfor %}
            <table class="table table-bordered align-middle">
                <thead class="table-light">
            <tr class='border-bottom'>
                <th class="text-center" scope="col">Categorie</th>
                <th class="text-center" scope="col">Immat.</th>
                <th class="text-center" scope="col">Vp</th>                
                <th class="text-center" scope="col">Nom prénom</th> 
                <th class="text-center" scope="col">Aéroclub</th>                 
                <th class="text-center" scope="col">Licence FFA</th>
                <th class="text-center" scope="col">Email</th>                 
                <th class="text-center" scope="col">Téléphone</th>                
                <th class="text-center" scope="col">CRA</th>                              
            </tr>                
        </thead>
            <tbody>      
                {% for crew in crews %}                  
                    {% if crew.category is defined %} 
                        {% if crew.competition.typeCompetition.id == 2 %}
                            <tr class='border-bottom'>   
                                <td class="align-middle">{{ crew.category.value }} </td>                            
                                <td class="align-middle">{{ crew.callsign }} </td>                                             
                                <td class="align-middle">{{ crew.aircraftSpeed.value }} </td>                       
                                <td>{{ crew.pilot.lastname }}  {{ crew.pilot.firstname }}</td>
                                <td>{{ crew.pilot.flyingclub }}</td>                             
                                <td>{{ crew.pilot.licenseFfa }}</td>  
                                <td>{{ crew.pilot.email }}</td> 
                                <td>{{ crew.pilot.phone }}</td> 
                                <td>{{ crew.pilot.committee.value|slice(0, 2) }}</td> 
                            </tr>
                        {% else %}
                            <tr class='border-bottom'>   
                                <td class="align-middle" rowspan="2">{{ crew.category.value }} </td>                            
                                <td class="align-middle" rowspan="2">{{ crew.callsign }} </td>                                             
                                <td class="align-middle" rowspan="2">{{ crew.aircraftSpeed.value }} </td>                       
                                <td>{{ crew.pilot.lastname }}  {{ crew.pilot.firstname }}</td>
                                <td>{{ crew.pilot.flyingclub }}</td>                             
                                <td>{{ crew.pilot.licenseFfa }}</td>  
                                <td>{{ crew.pilot.email }}</td> 
                                <td>{{ crew.pilot.phone }}</td> 
                                <td>{{ crew.pilot.committee.value|slice(0, 2) }}</td> 
                            </tr>
                            <tr class='border-bottom'>             
                                <td>{{ crew.navigator.lastname }}  {{ crew.navigator.firstname }}</td>
                                <td>{{ crew.navigator.flyingclub }}</td> 
                                <td>{{ crew.navigator.licenseFfa }}</td>                             
                                <td>{{ crew.navigator.email }}</td> 
                                <td>{{ crew.navigator.phone }}</td>                                    
                                <td>{{ crew.pilot.committee.value |slice(0, 2)}}</td>  
                            </tr>        
                        {% endif %}
                    {% endif %}
                {% endfor %} 
            </tbody>
        </table>
    </section>                 
  {% endblock main %}