{% extends 'base-pdf.html.twig' %}

{% block title %}Liste des inscrits{% endblock %}

{% block body %}
    <style>
        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }
    </style>
    <div>
        <h3>Liste des inscrits - {{ crews[0].competition.name }}</h3>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Equipage</th>
                <th>Email</th>            
                <th>Téléphone</th>    
                <th>Chambre</th>            
                <th>Prix</th>                    
                <th>Validation</th>      
            </tr>                
        </thead>
        <tbody> 
            {% set n = 1 %}                           
            {% for crew in crews %}
                    {% if crew.category is defined %} 
                    <tr>           
                        <td >
                            {{ n }} 
                        </td>  
                        <td > 
                            {% if crew.competition.typeCompetition.id == 2 %}
                                <p>{{ crew.pilot.lastname }} {{ crew.pilot.firstname }}</p>
                            {% else %}
                                <p>{{ crew.pilot.lastname }} {{ crew.pilot.firstname }}</p>
                                <p>{{ crew.navigator.lastname }} {{ crew.navigator.firstname }}</p>
                            {% endif %}
                        </td>
                        <td >
                            {% if crew.competition.typeCompetition.id == 2 %}
                                <p>{{ crew.pilot.email }}</p>
                            {% else %}
                                <p>  {{ crew.pilot.email }}</p>                           
                                <p>  {{ crew.navigator.email }}</p>
                            {% endif %}
                        </td>      
                        <td >
                            {% if crew.competition.typeCompetition.id == 2 %}
                                <p>{{ crew.pilot.phone }}</p>
                            {% else %}
                                <p>  {{ crew.pilot.phone }}</p>
                                <p>  {{ crew.navigator.phone }}</p> 
                            {% endif %}                            
                        </td>  
                        {% if crew.competitionAccommodation is not empty %}
                            <td>
                                {% for ca in crew.competitionAccommodation %}
                                    <p>
                                        {{ ca.accommodation.room }} 
                                    </p>
                                {% endfor %}
                            </td>                  
                            <td>
                                {% for ca in crew.competitionAccommodation %}
                                    <p>
                                        {{ (ca.price / 100) |number_format(2, '.', ',') }} €
                                    </p>
                                {% endfor %}
                            </td>                            
                        {% else %} 
                            <td>
                                <em>No accommodations</em>
                            </td>
                            <td ></td>
                        {% endif %}                  
                       <td>
                        {% if crew.ValidationPayment == 0 %}
                            En attente
                        {% else %}
                            Réglé
                        {% endif %}
                       </td>
                        {% set n = n + 1 %}
                    </tr>
                    {% endif %}
            {% endfor %}                
        </tbody>
    </table>      
{% endblock %}